PORT=3000
NODE_ENV=development

# URL Prisma avec PgBouncer (Port 6543)
DATABASE_URL="postgresql://postgres.[ref]:[password]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# URL directe (Port 5432)
DIRECT_URL="postgresql://postgres.[ref]:[password]@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"

# JWT Secrets (laisser vide localement si non requis ou mettre clé de test)
JWT_PRIVATE_KEY=""
JWT_PUBLIC_KEY=""
